<!DOCTYPE html>
<html lang="en">
<head>
<title>Event Info</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
    <div class="p-3 mb-2 bg-dark text-white">
        <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg" style="background-color: #a8a5a5" >
          <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
              <img src="img\Nav Thumbnail.jpg" alt="Bootstrap" width="60" height="48">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
              <span class="navbar-toggler-icon" ></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="index.html" style="color:black">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Event_Info_Page.html" style="color:black">Events</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black"> More Options
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="Booking_History.html">Booking History</a></li>
                    <li><a class="dropdown-item" href="Event_Creation.html">Create Event</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex" role="search" >
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit" style="color:black">Search</button>
              </form>
            </div>
          </div>
        </nav>
          </header> 
<!--Main Event Picture-->
   <main>
  <div class="row"> 
    <div class="col-md-4">
      <img src="img\Maggie Olsen.jpg" width="400">
      <!--Other pictures in table-->
      <table>
        <tr>
          <td><img src="img\Piano and hands.jpg" width="200" height="200"></td>
          <td><img src="img\Trumpets.jpg" width="200" height="200"></td>
        </tr>
        <tr>
          <td><img src="img\Soundboard.jpg" width="200" height="200"></td>
          <td><img src="img\Microphone.jpg" width="200" height="200"></td>
        </tr>
        <tr>
          <td><img src="img\Marshall speaker.jpg" width="200" height="200"></td>
          <td><img src="img\Open sign.jpg" width="200" height="200"></td>
        </tr>
      </table> 
    </div>
    <!--Event Text-->
      <div class="col-md-6"">
        <!--Headline-->
        <h1>Maggie Olsen Perfoming November 24th</h1>
        <button type="button" class="btn btn-light" style="--bs-btn-padding-y: .60rem; --bs-btn-padding-x: .20rem; --bs-btn-font-size: 1.4rem;">Book Tickets Here!</button>

        <!--Generic Text-->
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam bibendum ipsum quis nisi vulputate, eu gravida augue ultrices. In sagittis 
          nulla vitae efficitur pulvinar. Cras maximus magna non viverra ultrices. Maecenas nec odio enim. Donec aliquet odio vitae urna cursus, vitae 
          lacinia ex pharetra. Morbi arcu elit, euismod ac purus non, dignissim gravida felis. Nunc laoreet enim eu viverra facilisis. In rutrum dui vel 
          sapien rhoncus rhoncus non vel est. Duis pulvinar, purus non fermentum auctor, odio velit commodo lectus, id tincidunt erat nisl ac ante. Proin 
          hendrerit sodales odio in consequat. Nullam a nisi id felis luctus egestas in ut ex. Nulla eu interdum ante. Donec commodo, metus quis pharetra 
          commodo, lectus risus auctor sem, sed sagittis leo enim non purus. Curabitur fringilla at neque eget placerat. Cras porttitor at mauris a condimentum.</p>
        <p>Pellentesque venenatis sapien pharetra, suscipit quam eget, tempus lorem. Curabitur ultricies ultricies dignissim. Aliquam erat volutpat. Aenean tempor 
          sem ut sapien vehicula porttitor. Morbi vestibulum iaculis pellentesque. Vestibulum ante odio, finibus a arcu at, faucibus hendrerit metus. Mauris accumsan
           quis nunc venenatis viverra. Duis aliquam lorem non nisl vulputate pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
           curae;

          Maecenas pharetra nulla varius dolor eleifend hendrerit. Sed iaculis dolor quam, vitae lacinia erat accumsan id. In a nunc dictum massa tristique vestibulum. 
          Nullam ultricies eros nulla, sit amet commodo arcu cursus in. Etiam faucibus pretium neque vel pulvinar. In cursus eros a vulputate facilisis. In et ipsum ipsum. 
          Mauris maximus, neque vel tristique commodo, erat ante gravida velit, sit amet tincidunt erat quam eu magna. Vestibulum vel mauris dui. Proin dictum lorem placerat
           quam dictum, dictum bibendum elit mattis.
          
          Curabitur a erat gravida, fringilla elit at, luctus nunc. Morbi dapibus, risus varius rutrum tincidunt, sapien felis pellentesque odio, et ultricies eros tortor a 
          dolor. Maecenas hendrerit cursus elit, tincidunt placerat metus dictum vestibulum. Mauris tempor pulvinar elementum. Fusce gravida sit amet nunc ac pulvinar. Cras 
          venenatis sem diam, luctus consectetur ipsum mollis molestie. Vivamus egestas gravida facilisis. Nulla gravida, ante sed posuere semper, erat odio ultricies metus, 
          sit amet condimentum lacus felis aliquet arcu.
          
          Etiam in nulla risus. Duis sed commodo mi. Mauris viverra vehicula odio. Etiam sit amet diam tincidunt, cursus ante id, tincidunt lorem. Aliquam facilisis lectus ut
           nisl suscipit convallis. Sed eu gravida turpis. Pellentesque porttitor placerat leo in consectetur. Sed pretium mi id turpis imperdiet, ac ornare neque pretium. Nunc 
           sit amet est placerat tortor sodales tincidunt at sit amet turpis. Phasellus aliquet tellus arcu, et euismod odio maximus non.
          
          Sed at facilisis nulla. Nullam nec tempor diam. Sed sed magna sit amet purus pretium elementum. Integer vel urna porta, tincidunt sapien eu, rutrum felis.
           Proin maximus mauris nec magna efficitur, aliquam viverra sem cursus. Cras auctor aliquet nulla, at congue nisl sodales sit amet. Donec fermentum facilisis
            turpis non consectetur. Morbi fermentum mollis nisi, volutpat fringilla lacus vulputate ac. Suspendisse scelerisque nisl id est egestas bibendum. Suspendisse 
            tincidunt fermentum cursus. Phasellus quis rhoncus nisl. Sed molestie neque dolor, ac tincidunt arcu maximus nec. Integer feugiat efficitur metus sed efficitur.</p>
      </div>
  </div>


  <!--Comment Section-->
<div class="row">
  <div class="col-md-4">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="img\Comment 1.png" class="d-block w-100" alt="..." height="200">
        </div>
        <div class="carousel-item">
          <img src="img\Comment 2.png" class="d-block w-100" alt="..." height="200">
        </div>
        <div class="carousel-item">
          <img src="img\Comment 3.png" class="d-block w-100" alt="..." height="200">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="col-md-4" style="padding-top: 30px;">
    <h3>Let us know your thoughts on this event</h3>
    <button type="button" class="btn btn-light" style="--bs-btn-padding-y: .60rem; --bs-btn-padding-x: .20rem; --bs-btn-font-size: 1.4rem;">Leave a comment</button>
  </div>
</div>
   </main>

   <footer>
    <div class="container-fluid">
      <div class = "row">
          <div class="card text-bg-dark">
          <img src="img\Footer Pic.jpg" class="card-img" alt="..." height="250" >
          <div class="card-img-overlay" style="color:white">
              <h5 class="card-title">About</h5>
              <p class="card-text"><li>
                <p>FAQ</p>
                <p>Contact Us</p>
                <p>Privacy & Terms</p>
              </li></p>
              <p class="card-text"><small>Last updated 3 mins ago</small></p>
          </div>
          </div>
      </div>
      </div>
   </footer>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </div>
</body>


</html>
