<!DOCTYPE html>
<html lang="en">
<head>
<title>Landing page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
  <div class="p-3 mb-2 bg-dark text-white">
    <header>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg" style="background-color: #a8a5a5" >
      <div class="container-fluid">
        <a class="navbar-brand" href="/index">
          <img src="{{ url_for('static', filename='Nav Thumbnail.jpg')}}" alt="Nav Thumbnail" width="60" height="48">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
          <span class="navbar-toggler-icon" ></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/index" style="color:black">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/event_info_page" style="color:black">Events</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black"> More Options
              </a>
              <!-- If user is logged out display login and register butons, else if user is logged in
              display a logout option -->
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/booking_history">Booking History</a></li>
                <li><a class="dropdown-item" href="/event_creation">Create Event</a></li>
                {% if current_user.is_anonymous %}
                <li><a class="dropdown-item" href="/login">Login</a></li>
                <li><a class="dropdown-item" href="/register">Register</a></li>
                {% else %}
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search" >
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit" style="color:black">Search</button>
          </form>
        </div>
      </div>
    </nav>

<body>
    <!-- Header -->
    <header>

        <!-- Navbar -->
        <nav>
        </nav>

        {% block header %}
        {% endblock %}

    </header>

    {% block content %}
    {% endblock %}


    <!--Footer-->
    <footer>
        <div class="container-fluid">
        <div class = "row">
            <div class="card text-bg-dark">
            <img src="{{ url_for('static', filename='Footer Pic.jpg')}}" class="card-img" alt="..." height="250">
            <div class="card-img-overlay" style="color:white">
                <h5 class="card-title">About</h5>
                <p class="card-text"><li>
                  <p>FAQ</p>
                  <p>Contact Us</p>
                  <p>Privacy & Terms</p>
                </li></p>
                <p class="card-text"><small>Last updated 3 mins ago</small></p>
            </div>
            </div>
        </div>
        </div>
    </footer>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </div>
    </body>


</html>
