{% extends 'base.html' %}

{% import "bootstrap/form.html" as wtf %}
{% block content %}
<!--Page Header-->
   <main>
    <div class="row" style="padding-bottom: 40px;">
        <div class="col-12 offset-md-4">
            <h1>Booking History</h1>
        </div>
    </div>


    <!--Booking history images plus tables, images link to event info page-->
    <div class="row">
        <div class="col-md-6 offset-md-3" style="padding-bottom: 70px;">
            <table class="table-dark">
                <tr> 
                    <td><a href="Event_Info_Page.html">
                        <img src="img\Maggie Olsen.jpg" height="100" width="100"></a></td>
                    <td><p>Maggie Olsen Nov 24th <br> General Entry ticket bought on 19th Sep <br> Booking ID: MO866798</p></td>
                </tr>
                <tr>
                    <td><a href="Event_Info_Page.html">
                        <img src="img\Jimmy Young.jpg" height="100" width="100"></a></td>
                    <td><p> Jimmy Young Dec 1st <br> Rooftop ticket bought on 21st Sep <br> Booking ID: JY7890087 </p></td>
                </tr>
                <tr>
                    <td><a href="Event_Info_Page.html">
                        <img src="img\Ivan Right.jpg" height="100" width="100"></a></td>
                    <td><p> Ivan Right Dec 10th <br> General Entry ticket bought on 21st Sep <br> Booking ID: IR234764</p></td>
                </tr>
            </table>
        </div>
    </div>



   </main>
{% endblock %}
