{% extends 'base.html' %}

{% import "bootstrap/form.html" as wtf %}
{% block content %}
<!--Main Event Picture-->
   <main>
  <div class="row"> 
    <div class="col-md-4">
      <img src="{{ url_for('static', filename='Maggie Olsen.jpg')}}" width="400">
      <!--Other pictures in table-->
      <table>
        <tr>
          <td><img src="{{ url_for('static', filename='Piano and hands.jpg')}}" width="200" height="200"></td>
          <td><img src="{{ url_for('static', filename='Trumpets.jpg')}}" width="200" height="200"></td>
        </tr>
        <tr>
          <td><img src="{{ url_for('static', filename='Soundboard.jpg')}}" width="200" height="200"></td>
          <td><img src="{{ url_for('static', filename='Microphone.jpg')}}" width="200" height="200"></td>
        </tr>
        <tr>
          <td><img src="{{ url_for('static', filename='Marshall speaker.jpg')}}" width="200" height="200"></td>
          <td><img src="{{ url_for('static', filename='Open sign.jpg')}}g" width="200" height="200"></td>
        </tr>
      </table> 
    </div>
    <!--Event Text-->
      <div class="col-md-6" style="padding-top: 20px;">
        <!--Headline-->
            {% for item in chosenEvent %}
              <h1 style="font-weight: bold ;">{{ item.eventName }} Is Happening {{ item.eventDate }} At {{ item.eventTime }}</h1>
              <h4>Status: {{ item.eventStatus }}</h2><br><hr><br><br>
              <p>{{ item.description }}</p><br><hr><br><br>
              <h3>Price : {{ item.ticketPrice }}</h3>
              <p>Tickets Remaining: {{ item.numberOfTickets }}</p>
            {% endfor %}
              <form action="" method="post">
                  {{ form.hidden_tag() }}
                  <label for="exampleInput" class="form-label">Purchase Amount</label><br>
                    <p>
                    {{ form.ticket_amount(size=32) }}
                    {% for error in form.ticket_amount.errors %}
                    <span style="color:red;">[{{ error }}]</span>
                    {% endfor %}
                  </p>
                  <div style="padding-bottom: 10px ;">
                    <label for="exampleInput" class="form-label">Buy Tickets</label><br>
                    {{form.submit()}}
                  </div>
              </form>
            <!--Generic Text-->
      </div>
  </div>


  <!--Comment Section-->
<div class="row">
  <div class="col-md-4">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ url_for('static', filename='Comment 1.png')}}" class="d-block w-100" alt="..." height="200">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='Comment 2.png')}}" class="d-block w-100" alt="..." height="200">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='Comment 3.png')}}" class="d-block w-100" alt="..." height="200">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="col-md-4" style="padding-top: 30px;">
    <h3>Let us know your thoughts on this event</h3>
    <button type="button" class="btn btn-light" style="--bs-btn-padding-y: .60rem; --bs-btn-padding-x: .20rem; --bs-btn-font-size: 1.4rem;">Leave a comment</button>
  </div>
</div>
   </main>

{% endblock %}

